language: ruby
sudo: false
rvm:
  - ruby-head
  - 2.3.1
  - 2.2.4
  - 2.1
  - 2.0
os:
- linux
matrix:
  fast_finish: true
  allow_failures:
  - rvm: jruby-head
script: bundle exec rake test
cache: bundler
env: TEST=true
notifications:
  slack:
    secure: C8xb94J4fstzAI7t9GcvKQieKc1k+ECA96ydcxDwBI1fAbupQjz4jafMwnOnD1g9QMe8hlykSNUlCXNCbcA9DZG7COjPZHCY3Icv1+0Dp44bBTDQldR8DPACPMU5Qe+pWoTZViPgJQ7tq2V9TXrGdOnOtkPTwZ9KtZrmNhxW7tM=
